*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

:root{
    --main-bg-color: #284853;
    --main-text-color: #203A43;
    --headline-color: #11998e;
}

#navbar{
    background-color: var(--main-bg-color);
}

.nav-link, .navbar-brand{
    color: white!important;
    
}

.nav-link{
    padding-left: 6.8rem!important;
}

.nav-link:hover, .navbar-brand:hover{
    color: #acd3e0!important;
}

.login-button{
    color: white;
    padding: .5rem 1.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    background: transparent;
}

.login-button:hover{
    background-color: white;
    color: var(--main-text-color);
}