*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

:root{
    --main-bg-color: #284853;
    --main-text-color: #203A43;
    --headline-color: #17b8aa;
}

#navbar{
    background-color: var(--main-bg-color);
    padding-top: 1rem;
}

.nav-link, .navbar-brand{
    color: white!important;
    
}

.navbar-brand{
    font-size: 23px;
}

.nav-link{
    padding-left: 6.8rem!important;
}

.nav-link:hover, .navbar-brand:hover{
    color: #acd3e0!important;
}

.login-button{
    color: white;
    padding: .5rem 1.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    background: transparent;
}

.login-button:hover{
    background-color: white;
    color: var(--main-text-color);
}

/* headline area */

#headline-area{
    background-color: var(--main-bg-color);
    padding-top: 8rem;
}

/* #row1{
    padding-left: .8rem;
    
} */

.headline-title{
    color: var(--headline-color);
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}

.headline-text{
    color: white;
    font-size: 17px;
    padding-right: 10rem;
    padding-bottom: 8rem;
    text-align: justify;
}

.animalImg{
    height: 500px;
    margin-top: -4rem;
}
.vetImg{
    height: 80px;
}

.vets{
    color: var(--headline-color);
    font-size: 40px;
    font-weight: bold;
    padding-left: 5.5rem;
    margin-top: -5rem;
}

.apply-vets{
    padding-left: 5.5rem;
    font-size: 17px;
    
}

.swirl1{
    height: 80px;
    margin-left: -6rem;
    margin-top: -20rem;
}

.swirl2{
    height: 80px;
    margin-left: 67rem;
    margin-top: -23rem;
}

/* works section */

#works{
    padding-top: 7rem;
}

.start{
    color: var(--headline-color);
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.how-works{
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 1.5rem;
}

.arrow-down{
    height: 50px;
    margin-left: 34rem;
    margin-bottom: 5rem;
}

/* steps */
.hire-vets{
    height: 300px;
}

#imgCol1{
    padding-left: 4rem;
}

.step-one{
    padding-top: 3rem;
    color: rgb(24, 139, 68);
}

.great-vets{
    padding-top: .7rem;
    color: var(--headline-color);
    font-weight: bold;
}

.great-text{
    padding-top: .7rem;
    color: var(--main-text-color);
    text-align: justify;
}



#myRow2{
    padding-top: 4rem;
}

#partnerImg{
    margin-left: 6rem;
    margin-top: 4rem;
}


#happyImg{
    margin-top: 2rem;
}





/* Mobile responsiveness */
@media screen and (min-width: 320px) and (max-width: 480px){
    
    #navbar{
        padding-top: 1rem;
    }

    .navbar-toggler{
        background: white;
    }

    .nav-link, .navbar-brand{
        color: white!important;
        
    }

    .navbar-brand{
        font-size: 25px;
        padding-top: 1.2rem;
    }

    .nav-link{
        padding-left: 0rem!important;
        padding-top: .7rem!important;
        font-size: 15px;
    }

    .login-button{
        width: 30%;
        padding: .3rem 0rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: .5rem;
        font-size: 15px;

    }

    #headline-area{
        padding-top: 4rem;
    }

    .headline-title{
        font-size: 70px;
        width: 100%;
       padding-left: 0rem;
       text-align: center;
    }

    #row1{
        overflow-x: hidden;
    }

    .animalImg{
        margin-top: -7rem;
        margin-left: 2.2rem;
        height: 300px;
        
    }

    .headline-text{
        font-size: 14px;
        text-align: center;
        width: 140%;
        padding-left: .8rem;
        /* display: none; */
        
        
    }

    .card-item{
        width: 20rem!important;
    }

    .vetImg{
        height: 45px;
    }

    .vets{
        font-size: 30px;
        padding-top: 2rem;
    }

    .apply-vets{
        font-size: 14px;
    }

    #cardOne, #cardTwo{
        margin-top: 4rem;
        margin-left: 1.8rem;
    }

    .swirl1{
        margin-left: 0rem;
        margin-top: -43rem;
    }

    .swirl2{
        margin-left: 18rem;
    }

    /* works section */
    .start{
        font-size: 23px;
    }

    .how-works{
        font-size: 32px;
    }

    #imgOne{
        height: 250px;
        margin-top: -2rem;
        margin-left: .5rem;
    }

    .arrow-down{
        margin-left: 45%;
        height: 40px;
    }

    .step-one, .great-vets{
        text-align: center;
    }

    .great-vets{
        font-size: 32px;
    }

    .great-text{
        text-align: center;
        font-size: 14px;
    }

    #urbanvetsPara{
        padding: .5rem 1.5rem;
    }

    

    

    




}